playbooks/auto-block-ip.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "title": "Auto-Block-IP",
    "description": "Automatisches Blockieren von Angreifer-IPs bei hochprioren Sentinel-Alerts. Fügt die IP zur NSG-Deny-Liste hinzu und sendet eine Benachrichtigung.",
    "author": "SOC Homelab"
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "Auto-Block-IP",
      "metadata": { "description": "Name des Logic App Playbooks" }
    },
    "NSGResourceGroup": {
      "type": "string",
      "metadata": { "description": "Resource Group der Network Security Group" }
    },
    "NSGName": {
      "type": "string",
      "metadata": { "description": "Name der Network Security Group" }
    },
    "NotificationEmail": {
      "type": "string",
      "metadata": { "description": "E-Mail-Adresse für SOC-Benachrichtigungen" }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "1_Get_Incident_Details": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/incidents/@{triggerBody()?['object']?['properties']?['incidentNumber']}"
              },
              "runAfter": {}
            },
            "2_Extract_Attacker_IP": {
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "kind": { "type": "string" },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "address": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": { "1_Get_Incident_Details": ["Succeeded"] }
            },
            "3_Add_NSG_Deny_Rule": {
              "type": "Http",
              "inputs": {
                "method": "PUT",
                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('NSGResourceGroup'), '/providers/Microsoft.Network/networkSecurityGroups/', parameters('NSGName'), '/securityRules/Block-AttackerIP?api-version=2021-02-01')]",
                "authentication": {
                  "type": "ManagedServiceIdentity"
                },
                "body": {
                  "properties": {
                    "priority": 200,
                    "protocol": "*",
                    "access": "Deny",
                    "direction": "Inbound",
                    "sourceAddressPrefix": "@{body('2_Extract_Attacker_IP')?[0]?['properties']?['address']}",
                    "sourcePortRange": "*",
                    "destinationAddressPrefix": "*",
                    "destinationPortRange": "*"
                  }
                }
              },
              "runAfter": { "2_Extract_Attacker_IP": ["Succeeded"] }
            },
            "4_Update_Sentinel_Incident": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "put",
                "path": "/incidents/@{triggerBody()?['object']?['properties']?['incidentNumber']}",
                "body": {
                  "status": "Active",
                  "severity": "High",
                  "classification": "TruePositive",
                  "comment": "Automatisch verarbeitet: IP wurde via NSG-Regel blockiert."
                }
              },
              "runAfter": { "3_Add_NSG_Deny_Rule": ["Succeeded"] }
            },
            "5_Send_Email_Notification": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/v2/Mail",
                "body": {
                  "To": "[parameters('NotificationEmail')]",
                  "Subject": "🚨 SOC Alert: Angreifer-IP automatisch blockiert",
                  "Body": "<p><strong>Incident:</strong> @{triggerBody()?['object']?['properties']?['title']}<br><strong>Severity:</strong> @{triggerBody()?['object']?['properties']?['severity']}<br><strong>Blockierte IP:</strong> @{body('2_Extract_Attacker_IP')?[0]?['properties']?['address']}<br><strong>Zeitpunkt:</strong> @{utcNow()}</p><p>Die NSG-Regel wurde automatisch erstellt. Bitte Incident in Sentinel überprüfen.</p>",
                  "IsHtml": true
                }
              },
              "runAfter": { "4_Update_Sentinel_Incident": ["Succeeded"] }
            }
          }
        }
      }
    }
  ]
}
